<!DOCTYPE html>
<html>
<style>
	.content{
		max-width: 500px;
		margin: auto;
	}
</style>
<title>E - Voting Portal</title>
<head>
	<h1 align="center">Welcome to new Voting System</h1>
</head>
<body>
	<div class="content">
		<form action="/signup" method="POST" id="signup">
			<fieldset>
				<legend><center><h3>Voter Sign up</h3></center></legend><br>
				Voter ID: 
				<input type="text" name="voterid" placeholder="Voter ID" minlength="" required> <br><br><br>
				Choose a PIN: 
				<input type="password" name="pin" maxlength="6" placeholder="4-6 digit PIN" id="password1" minlength="4" oninput="setPasswordConfirmValidity();" required><br><br><br>
				Confirm PIN: 
				<input type="password" name="pin2" maxlength="6" placeholder="Confirm password" id="password2" minlength="4" oninput="setPasswordConfirmValidity();" required><br>
				<br>
			</fieldset>
			<center><button type="submit" value="submit">Proceed to Vote</button></center>
			<script>
			    function setPasswordConfirmValidity(str) {
			        const password1 = document.getElementById('password1');
			        const password2 = document.getElementById('password2');

			        if (password1.value === password2.value) {
			             password2.setCustomValidity('');
			        } else {
			            password2.setCustomValidity('Passwords don\'t match');
			        }
			        console.log('password2 customError ', document.getElementById('password2').validity.customError);
			        console.log('password2 validationMessage ', document.getElementById('password2').validationMessage);
    }
			</script>
		</form>
	</div>
</body>
</html>