<!DOCTYPE html>
<html>
	<style>
		.content {
		  max-width: 500px;
		  margin: auto;
		}
	</style>
	<head>
		<title>Repeated Sign Up</title>
	</head>
	<header><h1 align="center">Voter Sign up failed!</h1></header>
	<body style = "zoom:130%">
		<div class="content">
			<center>
				<form action="/" method="GET">
					<fieldset>
						<legend><h3>Error!</h3></legend>
							Seems like you've already voted. If this is an error, please contact the administrator.<br><br><br>

							<button type="Submit" name="Submit"> 
								Back to Home page.
							</button>
					</fieldset>
				</form>
			</center>
		</div>
	</body>
</html>