<html>
	<style>
		.content {
		  max-width: 500px;
		  margin: auto;
		}
	</style>
	<title>
	E-ballot
	</title>
		<head><h1 align="center">Hi!!</h1>
		<h3 align="center">Welcome to new voting system</h3></head>
	<body>
		<div class="content">
			<center>Choose candidate: </center> <br>
				<form action = "/home" method="POST" id = "form1">
					1. <button type="radio" name = "candidate" value="1"> BJP </button><br>
					2. <button type="radio" name = "candidate" value="2"> Congress </button> <br>
					3. <button type="radio" name = "candidate" value="3">NOTA</button>
				</form>
		</div>
	</body>
</html>